.wrapperUpload {
    width: 500px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 6px;
    // overflow: hidden;
    justify-content: space-between;
}
.headerUpload {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid rgba(219, 219, 219, 1);
    color: black;
    font-weight: 600;
    font-size: 18px;
    user-select: none;
    position: relative;
}
.btnClose {
    position: absolute;
    right: 11px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    border-radius: 50%;
    font-size: 20px;
    color: black;
    background-color: rgba(0, 0, 0, 0.15);
    &:hover {
        transform: scale(1.1);
    }
}
.bodyUpload {
    width: 100%;
    min-height: 288px;
    .inforUserPost {
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
    }
    .avtUser {
        width: 45px;
        margin: 0 10px;
        border-radius: 50%;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
    }
    .avtImg {
        width: 39px;
        height: 39px;
        overflow: hidden;
        background-color: #fff;
        border-radius: 50%;
        border: 2px solid #fff;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            user-select: none;
        }
    }
    .userName {
        display: flex;
        height: 30px;
        align-items: center;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
        .iconCheck {
            margin: 0 0 0 2px;
            font-size: 18px;
            margin-bottom: 1px;
            color: #0984e3;
        }
    }
}
.inputStatus {
    width: 100%;
    .inputArea {
        outline: none !important;
        border: none !important;
        &::-webkit-scrollbar-track {
            background-color: #f5f5f5;
        }

        &::-webkit-scrollbar {
            width: 8px;
            background-color: #f5f5f5;
        }

        &::-webkit-scrollbar-thumb {
            border: 1px solid #f5f5f5;
            background-color: #dacdcd;
        }
    }
    .btnEmoji {
        width: 30px;
        background-color: red;
        height: 30px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
    }
}
.emoji {
    width: 100%;
    height: 40px;
    display: flex;
    position: relative;
    justify-content: flex-end;
}
.btnEmoji {
    font-size: 25px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover {
        color: red;
    }
}
.imgStatus {
    width: 96%;
    margin: 0 auto;
    min-height: 200px;
    img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}
.imgStatus.twoImage {
    display: flex;
    justify-content: space-between;
    img {
        width: 49.8%;
        height: 100%;
        object-fit: cover;
    }
}
.imgStatus.threeImg {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    img {
        margin: 1px 0;
        width: 49.8%;
        height: 50%;
        object-fit: cover;
        &:last-child {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
.imgStatus.fourImg {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    img {
        margin: 1px 0;
        width: 49.8%;
        height: 50%;
        object-fit: cover;
    }
}
.imgStatus.listImg {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    img {
        margin: 1px 0;
        width: 49.8%;
        height: 60%;
        object-fit: cover;
        &:nth-child(3) {
            width: 33.33%;
            height: 40%;
            object-fit: cover;
        }
        &:nth-child(4) {
            width: 33.33%;
            height: 40%;
            object-fit: cover;
        }
        &:nth-child(5) {
            width: 33.33%;
            height: 40%;
            object-fit: cover;
        }
        &:nth-child(n + 6) {
            display: none;
        }
    }
}
.videoStatus {
    width: 96%;
    height: 400px;
    margin: 0 auto;
    overflow-y: scroll;
    &::-webkit-scrollbar-track {
        background-color: #f5f5f5;
    }

    &::-webkit-scrollbar {
        width: 8px;
        background-color: #f5f5f5;
    }

    &::-webkit-scrollbar-thumb {
        border: 1px solid #f5f5f5;
        background-color: #dacdcd;
    }
    video {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}
.btnUpload {
    margin: 5px 0 10px 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    button {
        width: 96%;
        height: 40px;
        background-color: #0984e3;
        border: none;
        outline: none;
        border-radius: 4px;
        cursor: pointer;
        color: white;
        font-weight: 600;
        font-size: 16px;
    }
}
.titleChoose {
    font-weight: 600;
    font-size: 15px;
}
.chooseFormat {
    width: 96%;
    margin: 10px auto 2px auto;
    height: 48px;
    display: flex;
    border-radius: 4px;
    border: 1px solid #b2bec3;
    border-bottom: 1px solid rgba(219, 219, 219, 1);
    padding: 0 10px;
    align-items: center;
    justify-content: space-between;
}
.listChoose {
    width: 70%;
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: space-between;
}
.chooseFormatItem {
    width: 150px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 4px;
    background-color: #fff;
    z-index: 1;
    input {
        width: 100%;
        height: 100%;
    }
}
.customImportFile {
    width: 150px;
    user-select: none;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    opacity: 0.9;
    &:hover {
        opacity: 1;
        transform: scale(1.01);
    }
    font-weight: 600;
    .iconImage {
        color: #fff;
        font-size: 20px;
        margin: 2.5px 3px 0 0;
    }
    .iconVideo {
        font-size: 16px;
        color: #fff;
        margin-right: 3px;
    }
}
.customImportFile.importImage {
    background-color: #20bf6b;
}
.customImportFile.importVideo {
    cursor: no-drop;
    background-color: #4d4748;
}
