.profile {
  width: 100%;
  min-height: 100vh;
  padding-top: 65px;
  display: flex;
  justify-content: center;
  .profile_tab {
    width: 100%;
    display: flex;
    justify-content: center;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    button {
      outline: none;
      border: none;
      background: white;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1.2rem;
      padding: 5px 20px;
      margin: 0 25px;
      opacity: 0.5;
    }
    button {
      cursor: pointer;
    }
    button.active {
      border-top: 1px solid #000;
      border-bottom: 1px solid #000;
      opacity: 0.8;
    }
  }
  .container {
    width: 975px;
  }
}
