@mixin space($margin: 0, $padding: 0, $border: 0) {
  margin: $margin;
  padding: $padding;
  border: $border;
}

.containerPostDetail {
  width: 100%;
  padding-top: 65px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #f0f2f5;
}

.containerPost {
  padding: 4vh 20px 0;
  max-width: 935px;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  margin: 0 auto;
}

.articleContainer {
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-height: 450px;
  position: relative;
  background-color: #ffff;
}

.imgPost {
  display: flex;
  align-items: center;
  background-color: #000;
  background-color: rgba(var(--jb7, 0, 0, 0), 1);
  justify-content: center;
  margin-right: 335px;
  min-height: 450px;
  img {
    width: 100%;
    max-height: 450px;
  }
}
.containerCmtDetail {
  bottom: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  right: 0;
  top: 78px;
  width: 335px;
  .cmt {
      margin-left: 14px;
      margin-right: 20px;
      .cmtContent {
          margin-bottom: 0px;
          margin-left: 5px !important;
      }
      .timeAgo {
        margin-left: 5px ;
      }
  }
}
.header {
  border-left: 1px solid #efefef;
  border-left: 1px solid rgba(var(--ce3, 239, 239, 239), 1);
  height: 72px;
  padding: 16px;
  right: 0;
  width: 335px;
  position: absolute;
  top: 0;
  border-bottom: 1px solid rgba(var(--ce3, 239, 239, 239), 1);
  p {
    margin-bottom: 0px !important;
    font-weight: 600;
    margin-left: 5px;
  }
}
.containerUserAndAvt {
  display: flex;
  align-items: center;
  p {
    margin-bottom: 0px;
    font-weight: 600;
    margin-left: 5px;
  }
}
.containerCmt {
  height: 260px;
  overflow: auto;
}

.toolbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid rgba(var(--ce3, 239, 239, 239), 1);
  .like,
  .comment,
  .transfer,
  .psignet {
    cursor: pointer;
    font-size: 1.2rem;
    @include space(8px, 0);
  }
  .liked {
    color: red;
    cursor: pointer;
    @include space(8px, 0);
  }
  .toolbarFunction {
    display: flex;
    p {
      font-size: 1.2rem !important;
      margin-left: 8px;
      margin-right: 8px;
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }
}
.avtImg {
  width: 30px;
  height: 30px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #fff;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
  }
}
.timeAgo {
  font-size: 10px;
  color: #8e8e8e;
}
.psignet {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  margin-left: 8px;
  margin-right: 8px;
}
.amountLike {
  font-weight: 600;
  color: #262626;
  color: rgba(var(--i1d, 38, 38, 38), 1);
  margin-bottom: 0px !important;
}

.containLiked {
  margin-left: 10px;
  display: flex;
  p {
    margin-right: 10px;
    margin-bottom: 0px !important;
  }
}

.containerToolbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.sectionCmt {
  height: 44px;
  max-height: 50px !important;
  border-top: 1px solid rgba(var(--ce3, 239, 239, 239), 1);
}

.formComment {
  margin-top: 8px;
}

.emoji {
  width: 100%;
  height: 40px;
  display: flex;
  position: relative;
  justify-content: flex-end;
}
.btnEmoji {
  font-size: 25px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:hover {
    color: red;
  }
}

.containInput {
  display: flex;
  align-items: center;
  .buttonPost {
    cursor: pointer;
    border: none;
    color: rgba(var(--d69, 0, 149, 246), 1);
    background-color: #fff;
    font: 600 14px Arial;
  }
  .buttonPost:disabled {
    color: gainsboro;
  }
  .containerIcon {
    position: relative;
  }
}
.inputStatus {
  width: 400px;
}

@keyframes heartbeat {
  0% {
    transform: scale(0.75);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.75);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(0.75);
  }
}

.inputStatus textarea {
  max-height: 50px !important;
}
