@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

/* ------ Info ---------- */
.info {
  width: 100%;
  max-width: 830px;
  margin: auto;
  padding: 20px 10px;
  font-family: "Poppins", sans-serif;
  .info_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    p {
      margin-bottom: 0 !important;
    }
    h2,
    h5 {
      margin-bottom: 0 !important;
    }
    .info_content {
      min-width: 250px;
      max-width: 550px;
      width: 100%;
      flex: 1;
      opacity: 0.7;
      margin: 0 15px;
      .editProfileBtn {
        color: #6e6969;
        border: 2px solid rgba(219, 219, 219, 1);
        border-radius: 0.25rem;
        margin-left: 1rem;
      }
      .info_content_title {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        h2 {
          font-size: 20px;
          font-weight: 400;
          color: rgba(38, 38, 38, 1);
          flex: 3;
        }
        button {
          flex: 2;
        }
      }
      .follow_btn {
        margin-top: 10px;
        cursor: pointer;
        font-size: 0.9rem;
        span {
          margin-right: 1rem;
          color: black;
          strong {
            margin-right: 3px;
          }
        }
      }
      .follow_btn span:hover {
        text-decoration: underline;
      }
    }
  }
}
