.fillFixed {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.wrapper {
    @extend .fillFixed;
    z-index: 99999999999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    @extend .fillFixed;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: -1;
}

.body {
    position: relative;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    min-width: 200px;
    min-height: 200px;
}
