.containerHeader {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  height: 54px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  border: 1px solid rgba(219, 219, 219, 1);
  align-items: center;
}
.wrapperHeader {
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 975px;
}
.socicalLogo {
  width: 100px;
  height: 54px;
  display: flex;
  align-items: center;
  img {
    width: 100%;
  }
}

.headerFunction {
  height: 54px;
  display: flex;
  align-items: center;
}

.headerFunctionItem {
  width: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 54px;
  margin-left: 5px;
}
.iconFunct {
  font-size: 26px;
}
.iconFunct.active {
  color: black;
}
.headerFunctionItem.avtUser {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 0.5px solid black;
  overflow: hidden;
  background-image: linear-gradient(40deg, #fd5949, #d6249f, #285aeb);
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.searchBox {
  width: 230px;
  height: 30px;
  border-radius: 4px;
  border: 2px solid rgba(219, 219, 219, 1);
  display: flex;
  opacity: 0.9;
  overflow: hidden;
  &:focus-within {
    opacity: 1;
  }
  input {
    width: 200px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    outline: none;
  }
  button {
    flex: 1;
    outline: none;
    border: none;
    border-left: 2px solid black;
    display: flex;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
  }
}
