.containerHome {
    width: 100%;
    padding-top: 65px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #f0f2f5;
}
.wrapperHome {
    width: 975px;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
}
.wrapperHomeLeft {
    display: flex;
    width: 616px;
    min-height: 100vh;
    flex-direction: column;
}
.wrapperHomeRight {
    width: 340px;
    height: 400px;
    position: sticky;
    top: 65px;
    border: 1px solid rgba(219, 219, 219, 1);
    background-color: #fff;
    border-radius: 4px;
}
.storyFriend {
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid rgba(219, 219, 219, 1);
}
.uploadPost {
    width: 100%;
    height: 120px;
    margin-bottom: 20px;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid rgba(219, 219, 219, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.uploadLayoutItem {
    width: 96.5%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:first-child {
        border-bottom: 2px solid #b2bec3;
    }
    .imgUser {
        width: 40px;
        height: 40px;
        overflow: hidden;
        border-radius: 50%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
.openInputStatus {
    width: 90%;
    cursor: pointer;
    height: 40px;
    display: flex;
    align-items: center;
    font-weight: 600;
    border-radius: 20px;
    padding-left: 20px;
    background-color: #d2d6dd;
    color: #818b8f;
    border: 1px solid #b2bec3;
    opacity: 0.7;
    transition: 0.3s ease;
    &:hover {
        opacity: 1;
        transform: scale(1.01);
    }
}
.listPost {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.avtUser {
    width: 45px;
    margin: 0 10px;
    border-radius: 50%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
}
.avtImg {
    width: 39px;
    height: 39px;
    overflow: hidden;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid #fff;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        user-select: none;
    }
}
.userName {
    display: flex;
    height: 30px;
    align-items: center;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
    .iconCheck {
        margin: 0 0 0 2px;
        font-size: 18px;
        margin-bottom: 1px;
        color: #0984e3;
    }
}
