@mixin space($margin: 0, $padding: 0, $border: 0) {
  margin: $margin;
  padding: $padding;
  border: $border;
}
.postItem {
  width: 100%;
  position: relative;
  min-height: 400px;
  background-color: #fff;
  margin-bottom: 1.5rem;
  display: flex;
  border-radius: 4px;

  flex-direction: column;
  border: 1px solid rgba(219, 219, 219, 1);
  .imgContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    img {
      width: 100%;
      min-height: 200px;
    }
    .iconLike {
      position: absolute;
      display: inline-block;
      width: 128px;
      opacity: 0;
      fill: red;
      animation: 2s like-heart-animation ease-in-out forwards;
    }
    .iconLikeDisable {
      position: absolute;
      display: inline-block;
      width: 128px;
      opacity: 0;
      fill: red;
    }
    .doubleClickLiked {
      position: absolute;
      width: auto;
      height: auto;
    }
    .iconHeartBeat {
      font-size: 50px;
      color: red;
      animation: 1s heartbeat infinite;
    }
  }
  .likeCheckbox {
    display: none;
  }
  .toolbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .like,
    .comment,
    .transfer,
    .psignet {
      cursor: pointer;
      font-size: 1.5rem;
      @include space(8px, 0);
    }
    .liked {
      color: red;
      cursor: pointer;
      font-size: 1.5rem;
      @include space(8px, 0);
    }
    .toolbarFunction {
      display: flex;
    }
  }
  .description {
    @include space(6px, 6px);
    font-size: 16px;
    strong {
      font-weight: bold;
      font-size: 15px;
    }
  }
  .postDate {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
  }
  .amountLike {
    font-weight: 600;
    color: #262626;
    color: rgba(var(--i1d, 38, 38, 38), 1);
  }
}
@keyframes like-heart-animation {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  15% {
    opacity: 0.9;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  30% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
  45%,
  80% {
    opacity: 0.9;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.inforUserPost {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
}
.avtUser {
  width: 45px;
  margin: 0 10px;
  border-radius: 50%;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
}
.avtImg {
  width: 39px;
  height: 39px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #fff;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
  }
}
.userName {
  display: flex;
  height: 30px;
  align-items: center;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
  .iconCheck {
    margin: 0 0 0 2px;
    font-size: 18px;
    margin-bottom: 1px;
    color: #0984e3;
  }
}

.check-like {
  animation-duration: 0.2s;
  animation-name: like;
  fill: #1f81ba;
}
.check-path {
  fill: #1f81ba;
  background: #1f81ba;
}

@keyframes like {
  from {
    transform: scale(1);
  }
  75% {
    transform: scale(1.4);
  }
  to {
    transform: scale(1);
  }
}

.inputStatus {
  width: 100%;
  .inputArea {
    outline: none !important;
    border: none !important;
    &::-webkit-scrollbar-track {
      background-color: #f5f5f5;
    }

    &::-webkit-scrollbar {
      width: 8px;
      background-color: #f5f5f5;
    }

    &::-webkit-scrollbar-thumb {
      border: 1px solid #f5f5f5;
      background-color: #dacdcd;
    }
  }
  .btnEmoji {
    width: 30px;
    background-color: red;
    height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    margin-right: 0px !important;
  }
}

.emoji {
  width: 100%;
  height: 40px;
  display: flex;
  position: relative;
  justify-content: flex-end;
}
.btnEmoji {
  font-size: 25px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;
  &:hover {
    color: red;
  }
}
.formComment {
  border-top: 1px solid #edeff1;
}
.containInput {
  display: flex;
  align-items: center;
  .buttonPost {
    cursor: pointer;
    border: none;
    color: rgba(var(--d69, 0, 149, 246), 1);
    background-color: #fff;
    font: 600 14px Arial;
  }
  .buttonPost:disabled {
    color: gainsboro;
  }
  .containerIcon {
    position: relative;
  }
}
@keyframes heartbeat {
  0% {
    transform: scale(0.75);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.75);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(0.75);
  }
}

.link {
  color: #333 !important;
}

.link:active {
  color: #333 !important;
}