.popAvatar {
  border-bottom: 1px solid rgb(219, 219, 219);
  // position: fixed;
  .popItem {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0.5rem;
  }
  .popItem:hover {
    background-color: rgb(236, 236, 236);
  }
  .contentPopMenuItem{
    margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
  }
  .iconItem {
    font-size: 1.5rem;
    margin-right: 0.5rem;
  }
}