.amountCmt {
  background: 0 0;
  border: 0;
  color: #8e8e8e;
  color: rgba(var(--f52, 142, 142, 142), 1);
  line-height: inherit;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  cursor: pointer;
}

.lastCmt {
  background: 0 0;
  border: 0;
  line-height: inherit;
  margin: 0;
  padding: 0;
}
