.AuthForm {
  width: 100%;
  min-height: 100vh;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(40deg, #fd5949, #d6249f, #285aeb);
  // background-image: radial-gradient(circle at 50% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
}

.AuthForm .remember-section .ant-form-item-control-input-content {
  display: flex;
  justify-content: space-between;
}

.AuthForm button {
  width: 268px !important;
  height: 35px !important;
  border-radius: 4px;
}
.wrapperAuth {
  width: 350px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.containerAuth {
  border-radius: 4px;
  width: 350px;
  height: 425px;
  background-color: rgba(var(--d87, 255, 255, 255), 1);
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  animation: trans1 0.4s linear;
}

@keyframes trans1 {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes trans2 {
  from {
    transform: translateY(300%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
.imgInsta {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;

  img {
    width: 50%;
  }
}
.loginInput {
  width: 268px;
  height: 38px;
  user-select: none;
  outline: none;
}
.lineSuggest {
  width: 268px;
  height: 2px;
  background-color: rgba(var(--b6a, 219, 219, 219), 1);
  margin: 5px auto 25px auto;
  position: relative;
  &::after {
    content: "OR";
    position: absolute;
    width: 40px;
    font-weight: 600;
    height: 30px;
    color: #636e72;
    background-color: rgba(var(--d87, 255, 255, 255), 1);
    transform: translate(-50%, -30%);
  }
}
.loginFace {
  display: flex;
  width: 268px;
  height: 40px;
  margin: 0 auto 20px auto;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(var(--b6a, 219, 219, 219), 1);
  border-radius: 4px;
  user-select: none;
  cursor: pointer;

  p {
    // background: black;
    margin-top: 14px;
    font-weight: 600;
    color: #0984e3;
  }
  .iconFace {
    font-size: 18px;
    color: #0984e3;
    margin: 0 5px;
  }
}
.forgotPass {
  margin: 10px 0;
  color: black;
  user-select: none;
}
.switchSignUp {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  width: 350px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  margin: 20px 0;
  background-color: rgba(var(--d87, 255, 255, 255), 1);
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  p {
    margin: 0px 5px 0 0;
  }
  animation: trans2 0.4s linear;
}
