@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

:root {
  --primary-color: #fe2c55;
  --text-color: #000;
  --tick-color: #20d5eb;
  --icon-facebook: #0984e3;
  --icon-twitter: #00cec9;
  --icon-line: #55efc4;
  --icon-instagram: #f9ca24;
  --icon-kakaotalk: #f0932b;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

input,
button {
  border: none;
  outline: none;
}

a[href] {
  color: var(--text-color);
  text-decoration: none;
}
::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border: 1px solid #f5f5f5;
  background-color: #dacdcd;
}
